body {
    margin: 0;
    font-family: sans-serif;
    background-color: #f4f4f9;
}
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #232f3e;
    color: white;
    align-items: center;
}
.search-container input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
}
.search-container button {
    padding: 10px;
    background: #ff9900;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}
.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    text-align: center;
}
.favorites-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 20px;
}
.fav-card {
    padding: 30px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.fav-card:hover {
    background: #eee;
    transform: translateY(-5px);
}
